<div class="container">
  <div class="row mt-3">
    <div class="col-md-6 col-12">
      <iframe
        allow="microphone;"
        width="350"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/9212c348-d7d6-4456-94e3-0254b0e3e3e6"
      >
      </iframe>
    </div>
    <div class="col-md-6 col-12">
      <iframe
        src="https://webchat.botframework.com/embed/qnaservicechatbot1-bot?s=M9eHzE5GuQQ.cqmWUhODIOLNpdsStZ7X_-W2LmHzAlPUpLucp9rZdbo"
        style="min-width: 400px; width: 100%; min-height: 500px;"
      ></iframe>
    </div>
  </div>
</div>
