<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a routerLink="/" class="navbar-brand">
    <img width="50" src="https://www.grupo-cubo.com/img/logo-alt.png" alt="Grupo-Cubo"/>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a routerLink="/login" class="nav-link">Login</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/localstorage" class="nav-link">Local Storage</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/apirest" class="nav-link">Api Rest</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/chatbot" class="nav-link">Chatbot</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/messenger" class="nav-link">Messenger</a>
      </li>
    </ul>
  </div>
</nav>
